{% extends "table.html" %}
{% load humanize %}

{% block content %}
  <a href="db_status/export">Download as CSV</a>
  <tr>
    <th>Site</th>
    <th>Location</th>
    <th>Count</th>
    <th>Feature extracted</th>
    <th>To be extracted</th>
    <th>Not proper image URL</th>
    <th>404 on image URL</th>
    <th>Timeout for download</th>
    <th>Server error</th>
  </tr>
  {% for r in result %}
    {% if r.total > 0 %}
      {% if r.location %}
      <tr>
      {% else %}
      <tr style="color: #dd5; font-weight:bold">
      {% endif %}
        <td data-th="Site">{{ r.site }}</td>
        <td data-th="Location">{{ r.location }}</td>
        <td>{{ r.total|intcomma }}</td>
        <td>{{ r.True|intcomma }}</td>
        <td>{{ r.False|intcomma }}</td>
        <td>{{ r.download_error_url|intcomma }}</td>
        <td>{{ r.download_error_url_404|intcomma }}</td>
        <td>{{ r.download_error_url_timeout|intcomma }}</td>
        <td>{{ r.server_error|intcomma }}</td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}
~                                                                                                                                                 
~                                                                                                                                                 
~                             
