{% extends "table.html" %}
{% load humanize %}

{% block content %}
  <a href="db_status/export">Download as CSV</a>
  <tr>
    <th>Site</th>
    <th>Location</th>
    <th class="alnright">Count</th>
    <th class="alnright">Feature extracted</th>
    <th class="alnright">To be extracted</th>
    <th class="alnright">Not proper image URL</th>
    <th class="alnright">404 on image URL</th>
    <th class="alnright">Timeout for download</th>
    <th class="alnright">Server error</th>
  </tr>
  {% for r in result %}
    {% if r.total > 0 %}
      {% if r.location %}
      <tr>
      {% else %}
      <tr style="color: #dd5; font-weight:bold">
      {% endif %}
        <td data-th="Site">{{ r.site }}</td>
        <td data-th="Location">{{ r.location }}</td>
        <td class="alnright">{{ r.total|intcomma }}</td>
        <td class="alnright">{{ r.True|intcomma }}</td>
        <td class="alnright">{{ r.False|intcomma }}</td>
        <td class="alnright">{{ r.download_error_url|intcomma }}</td>
        <td class="alnright">{{ r.download_error_url_404|intcomma }}</td>
        <td class="alnright">{{ r.download_error_url_timeout|intcomma }}</td>
        <td class="alnright">{{ r.server_error|intcomma }}</td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}
~                                                                                                                                                 
~                                                                                                                                                 
~                             
